{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}
{%  block body %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Shop</h6>
    {%  for id, product in products %}
        <a href="" >
        {{ include('product/single-product.html.twig', {'post': product}) }}
        <small class="d-block text-right mt-1">
                <a href="">ADD to Chart</a>
        </small>
    {% endfor %}
    </div>
{% endblock %}