<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flora queen{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
</head>
<body class="bg-light">
    
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0"
           href="{{ path('shop_index') }}">Flora queen test</a>
    </nav>
    
    
    
<main role="main" class="container">
    
    {% block body %}
    {% endblock %}
</main>
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>